<footer>
    <hr>
    <p>
        &copy; OrderAFemboy 2025. Naruszenie praw autorskich będzie skutkować
        wysłaniem pod twój adres jednostek specjalnych oddziałów The Great Anti-Femboy Insurgency.
    </p>
</footer>

</body>
</html>